<div class="body-container">
  <div id="header">
    <div class="container">
      <nav>
        <ul>
          <li><a href="#header">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </nav>
      <div class="sub-header">
        <div class="header-text">
          <p>Web Developer</p>
          <h1>Hi, I'm <span>Magalaxmi</span><br>From India</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------about------------- -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="about-col-1">
          <img src="../assets/image/imgbggg.jpeg" alt="user image">
        </div>
        <div class="about-col-2">
          <h1 class="sub-title">About Me</h1>
          <p>Hello! I am Magalaxmi Saravanan, a Web Developer I have always been interested in Web Development, and I
            have the necessary skills required for the role. I have a good understanding of HTML, CSS, JavaScript,
            Bootstrape and JQuery. I am currently developing a skills by learning new technology and focused on crafting
            great web experience. Designing and codding have been my passion since the day I started working with
            computers but I started to leran Web Development since 2022. I enjoy try to create beautiful designed
            functional and responsive websites.
          </p>
          <div class="tab-title">
            <p class="tab-link active-link" onclick="opentab('skills')">Skills</p>
            <p class="tab-link" onclick="opentab('education')">Education</p>
            <p class="tab-link" onclick="opentab('experience')">Experience</p>
          </div>
          <div class="tab-content active-tab" id="skills">
            <ul>
              <li><span>Web Development</span> <br>Web App Development</li>
            </ul>
          </div>
          <div class="tab-content" id="education">
            <ul>
              <li><span>2019</span> <br>HSC FROM Swami Ramakrishna Paramahans College, Mumbai.</li>
              <li><span>2022</span> <br> Bsc.IT from SIWS College, Mumbai.</li>
              <li><span>2022</span> <br> Full Stack Web Development Course from Sami Infotech, Navi
                Mumbai.</li>
            </ul>
          </div>
          <div class="tab-content" id="experience">
            <ul>
              <li><span>2022</span> <br>Web Development Internship at Sami Infotech</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------my skills----------------------- -->
  <div id="MySkills">
    <div class="container">
      <h1 class="sub-title">My Skills</h1>
      <div class="row">
        <div class="left-skill">
          <div class="progress-bar">
            <h1>TECHNICAL SKILLS</h1>
              <div class="bar">
                <div class="subject">
                  <span>HTML</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line html">
                    <span></span>
                  </div>
                  <div>
                    <p>90%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>CSS</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line css">
                    <span></span>
                  </div>
                  <div>
                    <p>80%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>JavaScript</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line javascript">
                    <span></span>
                  </div>
                  <div>
                    <p>40%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>Bootstrap</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line bootstrap">
                    <span></span>
                  </div>
                  <div>
                    <p>60%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>JQuery</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line jquery">
                    <span></span>
                  </div>
                  <div>
                    <p>50%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>Angular</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line angular">
                    <span></span>
                  </div>
                  <div>
                    <p>30%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>NodeJs</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line nodejs">
                    <span></span>
                  </div>
                  <div>
                    <p>30%</p>
                  </div>
                </div>
              </div>
              <div class="bar">
                <div class="subject">
                  <span>MySQL</span>
                </div>
                <div class="bar-number">
                  <div class="bar-line mysql">
                    <span></span>
                  </div>
                  <div>
                    <p>40%</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="right-skill">
          <div class="progress-bar">
            <h1>PROFESSIONAL SKILLS</h1>
            <div class="bar">
              <div class="subject">
                <span>Communication</span>
              </div>
              <div class="bar-number">
                <div class="bar-line communication">
                  <span></span>
                </div>
                <div>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bar">
              <div class="subject">
                <span>Team Work</span>
              </div>
              <div class="bar-number">
                <div class="bar-line teamwork">
                  <span></span>
                </div>
                <div>
                  <p>75%</p>
                </div>
              </div>
            </div>
            <div class="bar">
              <div class="subject">
                <span>Creativity</span>
              </div>
              <div class="bar-number">
                <div class="bar-line creativity">
                  <span></span>
                </div>
                <div>
                  <p>85%</p>
                </div>
              </div>
            </div>
            <div class="bar">
              <div class="subject">
                <span>LeaderShip</span>
              </div>
              <div class="bar-number">
                <div class="bar-line leadership">
                  <span></span>
                </div>
                <div>
                  <p>70%</p>
                </div>
              </div>
            </div>
            <div class="bar">
              <div class="subject">
                <span>Improving and Learning</span>
              </div>
              <div class="bar-number">
                <div class="bar-line learning">
                  <span></span>
                </div>
                <div>
                  <p>75%</p>
                </div>
              </div>
            </div>
            <div class="bar">
              <div class="subject">
                <span>Problem Solving</span>
              </div>
              <div class="bar-number">
                <div class="bar-line solving">
                  <span></span>
                </div>
                <div>
                  <p>65%</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <!-- ----------------services------------------>
  <div id="services">
    <div class="container">
      <h1 class="sub-title">My Services</h1>
      <div class="services-list">
        <div>
          <fa-icon [icon]="faCode"></fa-icon>
          <h2 class="service-title">Web Design</h2>
          <p class="service-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel blanditiis
            placeat nisi, nemo amet
            voluptate ullam rerum, deserunt molestiae iste laborum quibusdam quia aliquid consequatur
            dolorum pariatur eum fugit. Ipsam eius rem voluptate temporibus in quo dicta inventore, numquam
            excepturi.
          </p>
          <a href="#">Learn More</a>
        </div>
        <div>
          <fa-icon [icon]="faCrop"></fa-icon>
          <h2 class="service-title">UI/UX Design</h2>
          <p class="service-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel blanditiis
            placeat nisi, nemo amet
            voluptate ullam rerum, deserunt molestiae iste laborum quibusdam quia aliquid consequatur
            dolorum pariatur eum fugit. Ipsam eius rem voluptate temporibus in quo dicta inventore, numquam
            excepturi.
          </p>
          <a href="#">Learn More</a>
        </div>
        <div>
          <fa-icon [icon]="faAppStore"></fa-icon>
          <h2 class="service-title">App Design</h2>
          <p class="service-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel blanditiis
            placeat nisi, nemo amet
            voluptate ullam rerum, deserunt molestiae iste laborum quibusdam quia aliquid consequatur
            dolorum pariatur eum fugit. Ipsam eius rem voluptate temporibus in quo dicta inventore, numquam
            excepturi.
          </p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- -----------------portfolio------------------- -->
  <div id="portfolio">
    <div class="container">
      <h1 class="sub-title">My Work</h1>
      <div class="work-list">
        <div class="work">
          <img src="../assets/image/work-1.png" alt="work image">
          <div class="layer">
            <h3>Online Delivery App</h3>
            <p>The app connects you to the talented people around the world.
              Download it from play store.
            </p>
            <a href="#">
              <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
          </div>
        </div>
        <div class="work">
          <img src="../assets/image/work-2.png" alt="work image">
          <div class="layer">
            <h3>Education Website</h3>
            <p>The app connects you to the talented people around the world.
              Download it from play store.
            </p>
            <a href="#">
              <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
          </div>
        </div>
        <div class="work">
          <img src="../assets/image/work-3.png" alt="work image">
          <div class="layer">
            <h3>Online Shopping App</h3>
            <p>The app connects you to the talented people around the world.
              Download it from play store.
            </p>
            <a href="#">
              <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <a href="#" class="btn">See More</a>
    </div>
  </div>
  <!-- -------------------contact-------------------->
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p class="social-icon"><a href="">
              <fa-icon [icon]="faPaperPlane"></fa-icon>
            </a>contact@example.com</p>
          <p class="social-icon"><a href="">
              <fa-icon [icon]="faSquarePhone"></fa-icon>
            </a> 0123456789</p>
          <div class="social-icon">
            <a href="">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </div>
          <button class="btn btn2"><a href="../assets/image/Magalaxmi Saravanan Resume.pdf" download>Download
              CV</a></button>
        </div>
        <div class="contact-right">
          <form action="">
            <input type="text" id="name" placeholder="Enter Your Name"><br>
            <input type="email" id="email" placeholder="Enter Your Email"><br>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter Your Message"></textarea><br>
            <button class="btn btn2">Submit</button><br>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright &copy Portfolio. Made with <i class="fa-solid fa-heart"></i> by Web Dveloper</p>
    </div>
  </div>
</div>